<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ("templates/head.ejs") %>
    <link href="/css/form.css" rel="stylesheet"/>
</head>
<body>
    <%- include ("templates/header.ejs") %>

    <form class="iw_form">
        <div class="formSection formFile">
            <label for="inputFile">File</label>
            <span class="spanFile">Select a File...</span>
            <input id="inputFile" type="file" style="display: none;"/>
        </div>

        <button type="submit">Update</button>
    </form>
   
    <%- include ("templates/scripts.ejs") %>
    <script src="/js/update.js"></script>
</body>
</html>