<header class="iw_header">
    <div class="iw_header__left">
        <select id="selectTable"></select>
    </div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/points">Points</a></li>
            <li><a href="/update">Update</a></li>
        </ul>
    </nav>

    <div class="iw_header__right">
        <div class="iw_header__right-setting">
            <i class="i__cog fas fa-cog"></i>

            <div class="iw_header__right-setting-options">
                <a href="/admin/create-table">Create Table</a>
                <a href="/admin/delete-table">Delete Table</a>
            </div>
        </div>
    </div>
    
</header>