<header class="iw_header">
    <div class="iw_header__left">
        <h2>Rusito rico</h2>
    </div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/points">Points</a></li>
            <li><a href="/update">Update</a></li>
        </ul>
    </nav>

    <div class="iw_header__right">
        <h2>iW//RuSO</h2>
    </div>
    
</header>